@font-face {
    font-family: "mission-font";
    src: url("BBHSansHegarty-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "LOGOTEXT";
    src: url("NewBaskervilleStd-Bold.ttf");
}
body {
    background-image: linear-gradient(to bottom, lightblue, rgb(65, 193, 244));
    margin: 0;
}
header {
    background-color: white;
    display: flex;
    margin-bottom: 5%;;
}
footer {
    background-color: white;
    display: block;
}
#cntitle {
    margin: 0px;
    display: inline-flex;
    font-size: 6vw;
    font-weight: bold;
    vertical-align: middle;
    font-family: "Times New Roman", serif;
}
#info-box {
    width: 100%;
    aspect-ratio: 1/1.3;
    background-image: url("crows-nest-element.svg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin: 0;
    padding: 0;
}
#mission-statement {
    display: flex;
    width: 100%;
    aspect-ratio: 1/0.31;
    background-image: url("sail.svg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;   
    margin: 0; 
    padding-top: 25%;
    padding-bottom: 5%;
    justify-content: center;
    text-align: center;
    font-family: "mission-font";
    font-size: 
}
#cast {
    width: 100%;
    aspect-ratio: 1/0.4;
    background-color: black;
    margin: 0;
    color: white;
}
h2 {
    display: flex;
    font-size: 4vw;
    vertical-align: middle;
    width: 50%;
}
#logo {
    width: 6vw;
    height: 6vw;
    display: inline;
    padding-right: 2%;
}
#spotify {
    width: 100px;
    height: 100px;
    display: inline;
    padding-right: 10%;
}
#missiontext {
    font-size: 3.5vw;
}
